li{
    list-style: none;
    cursor: pointer;
}
.complete{
    text-decoration: line-through;
    color: rgb(128, 123, 123);
}
.home{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;

}
.left-bar{
    flex-basis: 30%;
    display: flex;
    align-items: flex-start;
    padding: 3%;

}